@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .homeh1{
        @apply text-[2.75rem] leading-[3rem] font-medium md:text-6xl lg:text-[5.3rem] max-w-[60rem]
    }
    .homeh2{
        @apply text-xl font-[Montserrat] max-w-[40rem]
    }
    .homeh3{
        @apply text-sm font-[Montserrat] max-w-[60rem] md:text-lg lg:text-xl leading-loose md:leading-loose lg:leading-loose
    }

    .portalh2{
        @apply text-4xl lg:text-5xl font-bold text-brandBlue-900
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', 'sans-serif';
    background-color: '#F9FAFB';
    color: black;
}

/* Fixes katex rendering issues */
.katex * {
    font-family: KaTeX_Main, 'Times New Roman', serif;
}

html {
    overflow-x: hidden;
}

.scrollable-container {
    @apply relative w-full overflow-x-scroll whitespace-nowrap;
  }
  
  .scrollbar-handle {
    @apply absolute top-0 z-10 w-8 h-40 bg-black cursor-pointer right-2 bg-opacity-60;
  }
  
  .scrollbar-handle:active {
    @apply cursor-grabbing;
  }