@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', 'sans-serif';
    background-color: '#F9FAFB';
    color: black;

}

*::-webkit-scrollbar {
    display: none;
  }
  
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

html {
    overflow-x: hidden;
}



/* 
html {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #fff;
}

.Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

body {
    min-height: 100vh;
    background-color: #282c34;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}



section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

a,
a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="number"],
button,
textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.select-school {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.select-school option {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    background-color: #222;
    color: #fff;
}

.select-roles {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 150px;
}

.select-roles option {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    background-color: #222;
    color: #fff;
}

.select-roles option:checked {
    background-color: #007bff;
    color: #fff;
}

label[for="roles"] {
    margin-top: 1rem;
}

label,
button {
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.delete-button,
button.pwd-reset {
    background-color: red;
}

button.delete-button:hover,
button.pwd-reset:hover {
    background-color: #b30000;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: #ff7675;
    color: #d63031;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid #fff;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #444;
}


header {
    background-color: #222;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
}

input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: #333;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
}

input[type="checkbox"]:hover {
    background-color: #444;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="checkbox"]:checked:before {
    opacity: 1;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

input[type="checkbox"]:disabled:before {
    background-color: #999;
}

label[for="display"] {
    margin-top: 1rem;
} 
*/